
body{
	font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
}

a:link {color: #3E81AB;}
a:visited {color:#6B6D6E;}
a:hover {color: #7CAECC;}


a.h2{
	color: black;
}
h1{
	text-align: center;
}

div.breadcrumbs{
	padding: 10px;
	text-align: center;
}

div.container{
	float:center;
	clear:both;
	border-bottom: 1px solid #dddddd;
}

span.details{
	color: gray;
	font-style:italic;
}

table{
	width: auto;
}

.table >tbody > tr> td{
	border-top:none;		
}

tr > td:first-child{
	border-right: 1px solid gray;
	text-align: right;
	width:15%;

}

div.content-list{
	float:left;
	padding-right:10%;
}

ul.content-list{
	float:left;
	padding-right:10%;
}

div.skills{
	clear:both;
}
div.soc-media{
clear:both;
text-align: center;
}


/*ul.multicol{
max-width: 30%;
list-style-type:inherit;

-moz-column-count:2; /* Firefox */
/*-webkit-column-count:2; /* Safari and Chrome */
/*column-count:2;

-moz-column-gap:20px; /* Firefox */
/*-webkit-column-gap:20px; /* Safari and Chrome */
/*column-gap:20px;
}*/

