p{
    margin-bottom:1.2em;   
}


/*Remove double underline effect for links, add dotted underline to non-para links*/


a:hover{
	text-decoration:none;
	border-bottom: 1px solid #a2a2a2;
}

/*to make hr thicker and darker*/
hr{
	border-top: 2px solid #aaa;
}

/*Bootstrappy bits to float divs in blog posts*/
div.row{
clear:both;
}

div.right{
	float:right;
}

div.center{
	
	left:25%;
}

/*pushes down breadcrumbs on ux page*/
div.breadcrumbs{
	margin-top: 40px;
}

/*To centre float figures and captions inside spans*/
div.image > figure{
	
	text-align: center;
}

div.image{
	text-align: center;
    margin-bottom:7px;
}


/*To shrink font size for homepage can opener explanation*/
.footnote{
font-size:80%;   
}

/*To darken line between blog entries on Words page*/
ul.post-list > li{
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


/*styles for images inside figures*/
figure a img{
	-webkit-opacity: 1;
	opacity: 1;
	-moz-opacity: 1;
}

figure img {
    margin-bottom:0px;   
}
figcaption{
    font-size: 0.80rem;
    padding-top:3px;
    text-align: center;
}
figcaption a{
	border-bottom: 1px dotted #a2a2a2;
}

figcaption a:hover{
	border-bottom: 1px solid #a2a2a2;

}
/*To refloat pagination buttons to centre*/
nav.pagination{
	display:block;
}

h1, h2, h3{
	margin-top:0.5em;
	margin-bottom:0.5em;
}

h1.entry-title{
	margin-top:0.5em;
	margin-bottom:1em;
}


div#twitter{
    text-align:center;
    margin-top:50px;
}

.masthead{
    margin-top:0px;   
}

@media only screen and (min-width: 62.5em){
    .entry-title {
        font-size:52px;
        font-size:3.25rem;   
    }
}


